@charset "utf-8";
/* CSS Document */
body
{
	margin:0;
	padding:0;
	background-size:cover;
	
}

.d
{
	float:right;
	position:relative;
	width:200px;
	height:200px;
	padding:40px;
	padding-top:70px;
	margin-top:40px;
	margin-right:70px;
	background: rgba(255,255,255,.5);
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.d a{
	
text-decoration:none;

}

.d a h2 
{
	margin:10px;
	font-size:30px;
color:#2C5858;
text-align:center;
margin:0 0 20px;
padding:0;
}

.dd
{
	float:right;
	position:relative;
	width:200px;
	height:90px;
	padding:40px;
	padding-top:70px;
	margin-top:40px;
	margin-right:70px;
	background: rgba(255,255,255,.2);
	box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.dd a 
{
	text-decoration:none;
}

.dd a h2
{
	font-size:33px;
color:#2C5858;
text-align:center;
margin:0 0 20px;
padding:0;
	
	}
.dform
{
	float:inherit;
	position:absolute;
	position:relative;
	width:400px;
	height:150px;
	padding:40px;
	padding-top:70px;
	margin-top:40px;
	margin-right:70px;
	margin-left:300px;
	background: rgba(255,255,255,.2);
	box-shadow:0 5px 15px rgba(0,0,0,.5);
} */

.frm{

	position:relative;
	float:right;
	
}



.tbl
{
	position:relative;
	float:left;
}

@charset "utf-8";
/* CSS Document */


/* form style */


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top:20px;
  margin-left:300px;
  margin-bottom:20px;
  border-radius: 4px;
  cursor: pointer;
  float:left;
  
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: rgba(255,255,255,.3);
  padding: 20px;
}

.col-25 {
  float:right;
  width: 20%;
  margin-top: 6px;

}
.col-26
{
	left:auto;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .col-26 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* table*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td {
  text-align:right;
  padding: 8px;
   
}


tr:nth-child(even){background-color:rgba(255,255,255,.5);}

